:host {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  width: 100%;
  border: 1px solid brown;
}

.text-content {
  flex: 3;
}

.sip-actionbar {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
